@charset "UTF-8";
* {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to bottom, #626EF0, #6874FC);
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #2b306bbd;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #262B5D;
    text-align: center;
    text-shadow: 1px 1px 2px #1517339c;
}
h2 {
    color: #3542d2;
}
p {
    text-align: justify;
}